
<div>
  <h1>Welcome <span appHighlight [highlightColor]="'#F00'">{{ name }}</span>!</h1>
  <h4>Hover welcome name to experience attribute directive.</h4>
  <hr>
  <h5>Try 2-way data binding using this input : <input  #ctrl="ngModel" [(ngModel)]="name"/></h5>
  <hr>
  <i>++ Child Component start ++ </i>
  <app-child title="Child component title" [parentCmpName]="name" (componentTitle)="childComponentTitle=$event"></app-child>
  <i>++ Child Component end ++ </i>
  <br>
  <span *ngIf="childComponentTitle">
    Child component title : <b>{{childComponentTitle}}</b>
  </span>
  <hr>
  <h4>Using @ViewChild decorator, we are fetching the child component title and alerting</h4>
  <div #viewChildEx>Some content inside the div which is based on ViewChild decorator</div>
  <button (click)="getChildCmpTitle()" name="getButton">Get Child Title</button>
  <hr>
  <h4>2-way data binding using form control</h4>
  <input type="text" [formControl]="appTitle"/> {{appTitle.value}}
</div>
<hr>
<h4>Custom pipe named Reverse</h4>
<div>
  Pipe Reverse effect : Word <i>Angular</i> reversed <i>{{ 'Angular' | Reverse }}</i>
</div>
<hr>
<nav>
  <h4>Navigations</h4>
  <ul>
    <li><a [routerLink]="['ngOnChanges']" [queryParams]="{ module: 'workouts' }">ngOnChanges</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>